.header-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 426px) {
    .header-login {
        margin-top: 20%;
    }

    .header-login > img:nth-child(1) {
        width: 60%;
    }
    
    .header-login > img:nth-child(2) {
        width: 50%;
    }
}

@media screen and (min-width: 426px) {
    .header-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-login > img:nth-child(1) {
        width: 30%;
    }   
    
    .header-login > img:nth-child(2) {
        width: 20%;
    }
}

@media (min-width: 427px) and (max-width: 769px) {
    .header-login > img:nth-child(1) {
        width: 35%;
    }   
    
    .header-login > img:nth-child(2) {
        width: 25%;
    }
}