@media (max-width: 376px) {
    .header-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .header-login > img:nth-child(1) {
        width: 71%;
        height: 33%;
    }
    
    .header-login > img:nth-child(2) {
        width: 57%;
        height: 6.50%;
    }
}