<section class="completed-tasks">
   <h3 class="completed-tasks-title">Completed tasks</h3>
   <ul class="completed-tasks-list">
      <li class="completed-tasks-item">
         <input type="checkbox" class="completed-tasks-checkbox">
         <p class="completed-tasks-text">Task 1</p>
         <div class="completed-tasks-options">
            <button class="btn-icon-schedule">schedule</button>
            <button class="btn-icon-edit">edit</button>
            <button class="btn-icon-delete">delete</button>
         </div>
      </li>
      <li class="completed-tasks-item">
         <input type="checkbox" class="completed-tasks-checkbox">
         <p class="completed-tasks-text">Task 1</p>
         <div class="completed-tasks-options">
            <button class="btn-icon-schedule">schedule</button>
            <button class="btn-icon-edit">edit</button>
            <button class="btn-icon-delete">delete</button>
         </div>
      </li>
      <li class="completed-tasks-item">
         <input type="checkbox" class="completed-tasks-checkbox">
         <p class="completed-tasks-text">Task 1</p>
         <div class="completed-tasks-options">
            <button class="btn-icon-schedule">schedule</button>
            <button class="btn-icon-edit">edit</button>
            <button class="btn-icon-delete">delete</button>
         </div>
      </li>
   </ul>
</section>