<style>
   .tasks-week-day {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 37px 0 37px 0; ;
      width: 100%;
      height: 56px;

      background-image: url(../../assets/backgrounds/week-day-bg.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }

   .tasks-week-day-title {
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
      padding-bottom: 10px;
   }
</style>
<section class="tasks-week-day">
   <h2 class="tasks-week-day-title">Monday</h2>
</section>