@media (max-width: 376px) {
    .form {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .login-form {
        width: 100%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* FORM-EMAIL AND FORM-PASSWORD*/
    .login-form .form-email, .form-password {
        display: flex;
        font-size: 0.95rem;
        flex-direction: column;
        margin: 0 30px 0 30px;
    }

    .login-form .form-email > input , .form-password > input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
    }

    .login-form .form-password > a {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: #51D6FF;
        text-decoration: none;
        font-size: 0.8rem;
    }

    /* FORM-BUTTON */
    .login-form .form-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    /* FORM-BUTTON */
    .login-form .form-button > button {
        font-family: 'Itim', cursive;
        font-size: 1.3rem;
        background-color: #A6DBBC;
        color: #009B42;
        width: 75%;
        padding: 10px;
        border-radius: 30px;
        border: 1px solid black;
    }
}