<form action="#" class="form">
    <div class="form-email">
        <label for="email">Your email here</label>
        <input name="email" type="email" placeholder="example@email.com">
    </div>

    <div class="form-password">
        <label for="password">Your password here</label>
        <div class="password-input">
            <input name="password" type="password">
            <img src="../../assets/images/EMAIL-INPUT-ICON.png" alt="">
        </div>
        <a href="#"><p>Forgot your password ?</p></a>
    </div>

    <div class="form-button"><button><p>Login</p></button></div>
</form>
