<style>
   .tasks-user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .tasks-main-title {
      font-size: 1.25rem;
      font-weight: 700;
   }

   .tasks-main-img {
      background-image: url(../../assets/images/Profile_pic.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
   }

   .tasks-main-description {
      font-size: 1.25rem;
      font-weight: 400;
   }

   .tasks-today-count {
      color: #009B42;
   }

</style>

<section class="tasks-user-info">
   <h1 class="tasks-main-title">Hello, John Lennon!</h1>
   <img class="tasks-main-img">
   <p class="tasks-main-description">You've completed <span class="tasks-today-count">0</span> tasks</p>
</section>