<section class="today-tasks">
   <h3 class="today-tasks-title">Today's tasks</h3>
   <ul class="today-tasks-list">
      <li class="today-tasks-item">
         <input type="checkbox" class="today-tasks-checkbox">
         <p class="today-tasks-text">Task 1</p>
         <div class="today-tasks-options">
            <button class="btn-icon-schedule">schedule</button>
            <button class="btn-icon-edit">edit</button>
            <button class="btn-icon-delete">delete</button>
         </div>
      </li>
      <li class="today-tasks-item">
         <input type="checkbox" class="today-tasks-checkbox">
         <p class="today-tasks-text">Task 1</p>
         <div class="today-tasks-options">
            <button class="btn-icon-schedule">schedule</button>
            <button class="btn-icon-edit">edit</button>
            <button class="btn-icon-delete">delete</button>
         </div>
      </li>
      <li class="today-tasks-item">
         <input type="checkbox" class="today-tasks-checkbox">
         <p class="today-tasks-text">Task 1</p>
         <div class="today-tasks-options">
            <button class="btn-icon-schedule">schedule</button>
            <button class="btn-icon-edit">edit</button>
            <button class="btn-icon-delete">delete</button>
         </div>
      </li>
   </ul>
</section>